<div class="container">
    <div class="top" style="margin-top: 100px;">
        <h1 style="font-size: 2em; margin-bottom: 20px;">Edit Notes</h1>
    </div>

    <form id="note" action="add_note" method="post">
        <div class="wrap">
            <div class="mat-div">
                <label for="title-name" class="mat-label">Title Node</label>
                <input name="title" type="text" class="mat-input" id="first-name" value="{{titleText}}">
            </div>
            <div class="mat-div">
                <label for="text-name" class="mat-label">Text</label>
                <textarea id="text-name" name="body" class="mat-input" cols="30" rows="10">{{bodyText}}</textarea>
            </div>
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>