<div class="container">
    <div class="top" style="margin-top: 100px;">
        <h1 style="font-size: 2em; margin-bottom: 20px;">Edit User</h1>
    </div>
    <form id="note" action="add_user" method="post">
        <div class="wrap">
            <div class="mat-div">
                <label for="username" class="mat-label">Username</label>
                <input name="username" type="text" class="mat-input" id="username" value="{{username}}">
            </div>
            <div class="mat-div">
                <label for="email" class="mat-label">Email Adress</label>
                <input name="email" type="email" class="mat-input" id="email" value="{{email}}">
            </div>
            <input type="submit" class="btn btn-primary"/>
        </div>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>